<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <H1>Help</H1>
    <H1>http://localhost:8080/produto/"valor"</H1>
    <a href="http://localhost:8080/produto/emEstoque">Produtos Em Estoque</a>
    <H1>http://localhost:8080/produto/acima/"valor"</H1>
    <H1>http://localhost:8080/produto/abaixo/"valor"</H1>
    
  

    
</body>
</html>